{% assign repo_url = include.repository | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

{% assign repo_description = '' %}
{% for entry in site.data.repositories.repo_descriptions %}
  {% if entry.repo == include.repository %}
    {% assign repo_description = entry.description %}
  {% endif %}
{% endfor %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}" class="btn btn-outline-secondary d-block h-100" role="button">
    <i class="fa-solid fa-code-branch"></i>
    <strong>{% if show_owner %}{{ repo_url[0] }}/{% endif %}{{ repo_url[1] }}</strong>
    {% if repo_description != '' %}
      <div class="small text-muted mt-1">{{ repo_description }}</div>
    {% endif %}
  </a>
</div>
